<div class="container">
    <div class="row">
        <div>
            <p>Email: username@gmail.com</p>
            <p>Password: admin123</p>
        </div>
        <div class="col-md-4">
            <div class="form-login">
                <h4>Welcome</h4>
                <input type="text" class="form-control input-sm chat-input" placeholder="Email" #email/>
                <input type="text" class="form-control input-sm chat-input" placeholder="Password" #password/>

                <div class="wrapper">
                    <span class="group-btn">
                        <a (click)="login(email.value, password.value)" class="btn btn-primary btn-md">Login <i class="fa fa-sign-in"></i></a>
                    </span>
                </div>
                <div class="clearfix"></div>
                <div class="text-danger text-center">{{ errorMsg }}</div>
            </div>

        </div>
    </div>
</div>