<div class="container">
    <div class="row">
        <div class="text-success text-msg">
            <p>You are logged in successfully!!</p>
            <button class="btn-primary" routerLink="/login">BACK</button>
        </div>
    </div>
</div>
