.text-msg {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
}
.container {
    margin-top: 10%;
}
.row {
    justify-content: center;
}
.btn-primary {
    width: 35%;
}